/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* p {
  font-size: 16px;
}

.modal-content {
  -webkit-box-shadow: -1px 1px 5px 9px #333;
  -moz-box-shadow: -1px 1px 5px 9px #333;
  box-shadow: -1px 1px 50px 1px #333;
}

.modal-header, .modal-body, .modal-footer {
  background: #002849 !important;
}

.modal-body img {
  width: auto;
  height: 150px;
}

.text-logo-link {
  color: inherit;
  text-decoration: inherit;
}

.main-container {
  max-width: 100%;
  margin: 0px auto;
  overflow: auto;
  min-height: 0px;
}

/* .backgroung-image {
  background: url(./photo-1536514498073-50e69d39c6cf.jpg);
  background-size: cover;
} */

.background-color {
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 1400px;
  margin: 5px auto;
  overflow: auto;
  min-height: 50px;
  border: 0px solid rgba(56, 151, 1, 0.925);
  padding: 30px;
  border-radius: 5px;
}

.header {
  /* display: flex;  */
  /* justify-content: space-between; */
  margin: 30px auto;
  align-items: center;
  text-align: center;
}

.btn {
  display: inline-block;
  background: rgba(56, 151, 1, 0.925);
  /* rgb(113, 110, 255); */
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 0px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-close {
  width: 40px;
  margin-top: -10px;
  margin-left: 328px;
  padding: 5px;
  background-color: rgba(32, 32, 32, 0.521);
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}
.btn-close:focus {
  outline: none;
}
.btn-close:hover {
  background-color: rgb(238, 31, 31);
}
.btn-close:active {
  transform: scale(0.88);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-home-jobs-edit {
  width: 100%;
  height: 40px;
  margin: 20px auto;
  background-color: rgba(56, 151, 1, 0.925);
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 22px;
  text-decoration: none;
}

.btn-home-jobs-edit:hover {
  background-color: rgba(56, 151, 1, 0.925);
}

.add-form {
  margin-bottom: 5.3%;
  margin: 50px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

.form-control {
  margin: 10px 0;
  border-color: rgba(56, 151, 1, 0.925)
}


.form-control-out-border {
  max-width: 450px;
  margin: 20px auto;
  overflow: auto;
  min-height: 30px;
  border: 1px solid rgba(56, 151, 1, 0.925);
  padding: 20px;
  border-radius: 5px;
  
}
.add-form-email {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
  text-align: center;
  background-color: #ffffff;
}
.form-control-email {
  margin: 10px 0;
  border-color: rgba(56, 151, 1, 0.925);
  padding: 20px;
}
.form-control-out-border-email {
  max-width: 450px;
  margin-bottom: 10px ;
  overflow: auto;
  border: 1px solid rgba(114, 116, 113, 0.925);
  padding: 20px;
  border-radius: 5px;
}

.form-control-out-border-quiz-jobs-out {
  border-top: none;
  max-width: 1000px;
  width: 100%;
  overflow: auto;
  border: 1px solid rgba(56, 151, 1, 0.925);
  padding: 30px;
  border-radius: 5px;
  font-size: 11px;
}

.form-control-out-border-quiz-jobs {
  width: 100%;
  margin: 10px auto;
  overflow: auto;
  border: 1px solid rgba(56, 151, 1, 0.925);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.form-control-out-border-quiz {
  max-width: 460px;
  margin: 10px auto;
  overflow: auto;
  min-height: 0px;
  border: 1px solid rgba(255, 181, 43, 0.925);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.form-control-out-border-home {
  max-width: 100%;
  margin: 80px auto;
  overflow: auto;
  min-height: 0px;
  padding: 10px;
  font-size: 13px;
}

.form-control-border {
  border: 1px solid rgba(56, 151, 1, 0.925);
  border-Radius: 5px;
  outline-Color: rgba(56, 151, 1, 0.925);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:  96% / 15% no-repeat #EEE;
  border-radius: 5px;
}

.form-control-border-error {
  border: 1px solid rgb(219, 6, 95);
  border-Radius: 5px;
  outline-Color: rgb(219, 6, 95);
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.footer {
  max-width: 100%x;
  margin: center;
  overflow: auto;
  padding: 30px;
  text-align: center;
  font-size: 10px;
}
.error {
  color: red;
  font-size: 13px;
}
.info {
  color: green;
  font-weight: bold;
  font-size: 18px;
}
/* --------- */
.btn-home-login {
  background-color: rgba(255, 181, 43, 0.925);
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 32px 76px;
  text-decoration: none;
  display: block;
  width: 50%;
  padding: 20px
}
.btn-home-login:hover {
  background-color: rgba(187, 141, 57, 0.925);
}
.btn-home-login:active {
  position: relative;
  top: 1px;
}
.btn-home-login:focus {
  outline: none;
}
.btn-home-login:active {
  transform: scale(0.98);
}
/* --------- */
.btn-home {
  background-color: rgba(255, 181, 43, 0.925);
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 80%;
  padding: 20px
}
.btn-home:hover {
  background-color: rgba(187, 141, 57, 0.925);
}
.btn-home:active {
  position: relative;
  top: 1px;
}
.btn-home:focus {
  outline: none;
}
.btn-home:active {
  transform: scale(0.98);
}
/* ----------- */
.btn-job {
  background-color: rgba(56, 151, 1, 0.925);
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 80%;
  padding: 20px
}
.btn-job:hover {
  background-color: rgba(39, 102, 2, 0.925);
}
.btn-job:focus {
  outline: none;
}
.btn-job:active {
  transform: scale(0.98);
}
/* ---- */
.btn-job-login {
  background-color: rgba(56, 151, 1, 0.925);
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 32px 76px;
  text-decoration: none;
  display: block;
  width: 50%;
  padding: 20px
}
.btn-job-login:hover {
  background-color: rgba(39, 102, 2, 0.925);
}
.btn-job-login:active {
  position: relative;
  top: 1px;
}
.btn-job-login:focus {
  outline: none;
}
.btn-job-login:active {
  transform: scale(0.98);
}
/* --- */
.btn-jobs-connect {
  background-color: rgba(56, 151, 1, 0.925);
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 9px
}
.btn-jobs-connect:hover {
  background-color: rgba(56, 151, 1, 0.925);
}
.btn-jobs-connect:active {
  position: relative;
  top: 1px;
}
.btn-jobs-connect:focus {
  outline: none;
}
.btn-jobs-connect:active {
  transform: scale(0.98);
}
/* --- */
.btn-home-client-edit {
  background-color: rgba(255, 166, 0, 0.925);
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 9px
}
.btn-home-client-edit:hover {
  background-color: rgba(255, 166, 0, 0.925);
}
.btn-home-client-edit:active {
  position: relative;
  top: 1px;
}
.btn-home-client-edit:focus {
  outline: none;
}
.btn-home-client-edit:active {
  transform: scale(0.98);
}
/* --- */
.btn-client {
  background-color: rgba(255, 166, 0, 0.925);
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 9px
}
.btn-client:hover {
  background-color: rgba(255, 166, 0, 0.925);
}
.btn-client:active {
  position: relative;
  top: 1px;
}
.btn-client:focus {
  outline: none;
}
.btn-client:active {
  transform: scale(0.98);
}
.label-radio {
  background:rgba(255, 244, 224, 0.925);
  color:#000;
  border-radius:5px;   
  padding: 4px;
  margin: 10px auto;
  cursor: pointer;
}
.label-radio:hover {
  background:rgba(255, 166, 0, 0.925);   
}
.input-radio {
  margin-right:1em;   
}

.label-radio-job {
  background:rgba(235, 255, 224, 0.925);
  color:#000;
  border-radius:5px;   
  padding: 6px;
  margin: 10px auto;
  cursor: pointer;
}
.label-radio-job:hover {
  background:rgba(163, 224, 128, 0.925);   
}
.input-radio-job {
  margin-right:1em;   
}
