.column-articles {
  display: flex;
  width: 100%;
  padding: 30px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.row-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row-articles-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row-my-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-article-button-place {
  margin-block-end: initial;
  margin: 5px
}

.column-button-my-article {
  float: left;
  display: inline-grid;
  margin: 0px;
  width: 25%;
  padding: 20 10px;
  justify-content: flex-start;
}

.about-articles {
  max-width: 100%;
  margin: 0px auto;
  margin-left: 0%;
  margin-bottom: 0%;
  overflow: auto;
  min-height: 0px;
  padding: 20px;
  font-size: 13px;
}

.card-articles {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 1200px;
  height: 200px;
  padding: 0px;
  text-align: center;
  background-color: #ffffff;
}

.card-my-articles {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 450px;
  height: 100%;
  padding: 0px;
  text-align: center;
  background-color: #ffffff;
}

.card-header {
  color: #063105;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  border-top: 5px solid #abef9a;
  background-color: #fff;
  padding: 5px 10px;
}

.card-footer {
  color: #063105;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 5px solid #abef9a;
  background-color: #fff;
  padding: 5px 10px;
}

.card-mid {
  color: #063105;
  display: block;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #cbf8c0;
  background-color: #fff;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-mid-my-article {
  color: #063105;
  display: block;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #cbf8c0;
  background-color: #fff;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-mid-singleArticle {
  color: #063105;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #cbf8c0;
  background-color: #fff;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Card - LEFT */

.card-articles-left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 500px;
  height: 200px;
  padding: 0px;
  text-align: center;
  background-color: #ffffff;
}

.card-header-left {
  color: #063105;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-top: 5px solid #abef9a;
  background-color: #fff;
  padding: 5px 10px;
}

.card-footer-left {
  color: #063105;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 5px solid #abef9a;
  background-color: #fff;
  padding: 5px 10px;
}

.card-mid-left {
  color: #063105;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #cbf8c0;
  background-color: #fff;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Card - RIGHT */

.card-articles-right {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  height: 200px;
  padding: 0px;
  text-align: center;
  background-color: #ffffff;
}

.card-header-right {
  color: #063105;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-top: 5px solid #abef9a;
  background-color: #fff;
  padding: 5px 10px;
}

.card-footer-right {
  color: #063105;
  text-align: v;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 5px solid #abef9a;
  background-color: #fff;
  padding: 5px 10px;
}

.card-mid-right {
  color: #063105;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #cbf8c0;
  background-color: #fff;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-article-edit {
  border-radius: 5px;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  margin: 0px;
  width: 50px;
  height: 35px;
  border: 1px solid #CCC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 96% / 15% no-repeat #3f831f;}

.btn-article-edit:hover {
  background-color: #4b663d;
}

.btn-article-delete {
  border-radius: 5px;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  margin: 0px;
  width: 50px;
  height: 35px;
  border: 1px solid #CCC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 96% / 15% no-repeat rgb(219, 19, 19);
}

.btn-article-delete:hover {
  background-color: #83261f;
}