



.about {
    margin: 50px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
}

p {
    display: block;
    font-size: '13px';
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}