* {
    box-sizing: border-box;
    
  }
  
  /* body {
    font-family: Arial, Helvetica, sans-serif;
  } */
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 20 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  /* Style the counter cards */
  /* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    text-align: center;
    background-color: #ffffff;
  } */

.control-out-border {
    max-width: 450px;
    margin: 0px auto;
    overflow: auto;
    min-height: 30px;
    border: 1px solid rgba(163, 168, 163, 0.925);
    padding: 20px;
    border-radius: 5px;
}

.control-out-border-in {
    max-width: 450px;
    margin: 0px auto;
    overflow: auto;
    min-height: 30px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
}
