
  
  .form-control-jobs {
    margin: 10px 0;
    border-color: rgba(56, 151, 1, 0.925)
  }

  .select-jobs-select {
    outline: none;
    margin: 10px;
    width: 350px;
    height: 35px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  96% / 15% no-repeat #EEE;
    /* background: url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE; */
  }
  .select-jobs-input {
    outline: none;
    margin: 10px;
    width: 350px;
    height: 35px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  96% / 15% no-repeat #EEE;
    /* background: url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE; */
  }
  
  .select-jobs-text-area {
    outline: none;
    margin: 10px;
    width: 350px;
    height: 100px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  96% / 15% no-repeat #EEE;
    /* background: url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE; */
  }
  /* CAUTION: Internet Explorer hackery ahead */
  
  
  .select-jobs::-ms-expand {
      display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
  }
  
  /* Target Internet Explorer 9 to undo the custom arrow */
  @media screen and (min-width:0\0) {
      .select-jobs {
          background: none\9;
          padding: 5px\9;
      }
  }


.card-single-job-profile {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 0px;
    text-align: center;
    background-color: #ffffff;
  }

.control-out-border-single-job-profile {
    max-width: 650px;
    margin: 0px auto;
    overflow: auto;
    min-height: 30px;
    border: 1px solid rgba(163, 168, 163, 0.925);
    padding: 20px;
    border-radius: 5px;
}

.center-text-jobs{
  text-align: center;
  color: green;
  font-weight: bold;
}

.row-single-job-profile  {
  display: flex ;
  flex-direction: row;
  justify-content: space-around;
}
.column-jobs-article{
}
.form-control-jobs {
  margin: 10px 0;
  border-color: rgba(56, 151, 1, 0.925)
}
.form-control-out-border-jobs {
  max-width: 450px;
  margin: 0px auto;
  overflow: auto;
  min-height: 30px;
  border: 1px solid rgba(169, 172, 168, 0.925);
  padding: 20px;
  border-radius: 5px;
}

/**===== dots2 =====*/
#dots2 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}

#dots2 span {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(2, 68, 13, 0.25);
  border-radius: 50%;
  -webkit-animation: dots2 1s infinite ease-in-out;
          animation: dots2 1s infinite ease-in-out;
}

#dots2 span:nth-child(1) {
  left: 0px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#dots2 span:nth-child(2) {
  left: 15px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#dots2 span:nth-child(3) {
  left: 30px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#dots2 span:nth-child(4) {
  left: 45px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@keyframes dots2 {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    background: rgba(1, 34, 7, 0.25);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    background: rgba(1, 34, 7, 0.25);
  }
  100% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
    background: rgba(1, 34, 7, 0.25);
  }
}
@-webkit-keyframes dots2 {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    background: rgba(1, 34, 7, 0.25);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    background: rgba(1, 34, 7, 0.25);
  }
  100% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
    background: rgba(1, 34, 7, 0.25);
  }
}
/** END of dots2 */